langchain 
langgraph 
langchain-community
ddgs
beautifulsoup4 
requests
fastapi 
uvicorn 
websockets
langchain-ollama
python-dotenv 
langchain-google-genai
langchain-openai
numpy 
json_repair 
pydantic